si_bmobile/Service References/siCCBundleRef/BundlePlanSI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BundlePlanSI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57803/service/BundlePlanSI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57803/service/BundlePlanSI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBundlePlanSI_CreateorEdit_BunldePlanSICc_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateorEdit_BunldePlanSICc" />
  </wsdl:message>
  <wsdl:message name="IBundlePlanSI_CreateorEdit_BunldePlanSICc_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateorEdit_BunldePlanSICcResponse" />
  </wsdl:message>
  <wsdl:message name="IBundlePlanSI_DeleteBunldePlanSICc_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBunldePlanSICc" />
  </wsdl:message>
  <wsdl:message name="IBundlePlanSI_DeleteBunldePlanSICc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBunldePlanSICcResponse" />
  </wsdl:message>
  <wsdl:message name="IBundlePlanSI_GetBundleType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBundleType" />
  </wsdl:message>
  <wsdl:message name="IBundlePlanSI_GetBundleType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBundleTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBundlePlanSI">
    <wsdl:operation name="CreateorEdit_BunldePlanSICc">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlanSI/CreateorEdit_BunldePlanSICc" message="tns:IBundlePlanSI_CreateorEdit_BunldePlanSICc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlanSI/CreateorEdit_BunldePlanSICcResponse" message="tns:IBundlePlanSI_CreateorEdit_BunldePlanSICc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBunldePlanSICc">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlanSI/DeleteBunldePlanSICc" message="tns:IBundlePlanSI_DeleteBunldePlanSICc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlanSI/DeleteBunldePlanSICcResponse" message="tns:IBundlePlanSI_DeleteBunldePlanSICc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBundleType">
      <wsdl:input wsaw:Action="http://tempuri.org/IBundlePlanSI/GetBundleType" message="tns:IBundlePlanSI_GetBundleType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBundlePlanSI/GetBundleTypeResponse" message="tns:IBundlePlanSI_GetBundleType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBundlePlanSI" type="tns:IBundlePlanSI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateorEdit_BunldePlanSICc">
      <soap:operation soapAction="http://tempuri.org/IBundlePlanSI/CreateorEdit_BunldePlanSICc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBunldePlanSICc">
      <soap:operation soapAction="http://tempuri.org/IBundlePlanSI/DeleteBunldePlanSICc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBundleType">
      <soap:operation soapAction="http://tempuri.org/IBundlePlanSI/GetBundleType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BundlePlanSI">
    <wsdl:port name="BasicHttpBinding_IBundlePlanSI" binding="tns:BasicHttpBinding_IBundlePlanSI">
      <soap:address location="http://localhost:57803/service/BundlePlanSI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>