si_bmobile/Service References/esipayRef/esipayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="esipayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://shopbm.twinkletech.com/Service/esipayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://shopbm.twinkletech.com/Service/esipayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IesipayService_CheckCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCustomer" />
  </wsdl:message>
  <wsdl:message name="IesipayService_CheckCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IesipayService_GetTokenNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenNumber" />
  </wsdl:message>
  <wsdl:message name="IesipayService_GetTokenNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IesipayService">
    <wsdl:operation name="CheckCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IesipayService/CheckCustomer" message="tns:IesipayService_CheckCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IesipayService/CheckCustomerResponse" message="tns:IesipayService_CheckCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IesipayService/GetTokenNumber" message="tns:IesipayService_GetTokenNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IesipayService/GetTokenNumberResponse" message="tns:IesipayService_GetTokenNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IesipayService" type="tns:IesipayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCustomer">
      <soap:operation soapAction="http://tempuri.org/IesipayService/CheckCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenNumber">
      <soap:operation soapAction="http://tempuri.org/IesipayService/GetTokenNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="esipayService">
    <wsdl:port name="BasicHttpBinding_IesipayService" binding="tns:BasicHttpBinding_IesipayService">
      <soap:address location="http://shopbm.twinkletech.com/Service/esipayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>