si_bmobile/Service References/GetPowerRef/GetPower.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iphone" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iphone" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>