beLib/Web References/beRef/EasyRecharge.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://service.evd.mediation.bmobile.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://service.evd.mediation.bmobile.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.evd.mediation.bmobile.com">
      <xs:element name="getAppTXStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchant_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAppTXStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BarVoiceCall">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BarVoiceCallResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMsisdnStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMsisdnStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RechargeMsisdn">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RechargeMsisdnResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnBarVoiceCall">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnBarVoiceCallResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidateMerchant">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidateMerchantResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activatePostPaidSIM">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activatePostPaidSIMResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditMe">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditMeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customerUpdate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customerUpdateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="firstTimeActivation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="firstTimeActivationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllPostpaidSims">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAllPostpaidSimsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSimStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSimStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVoucher">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getVoucherResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="manGroupMemberAdd">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="manGroupMemberAddResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="manGroupMemberQuit">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="manGroupMemberQuitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="oneOffDeduction">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="oneOffDeductionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processDUGMember">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processDUGMemberResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="queryRechargeStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="queryRechargeStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendSMS">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendSMSResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="suspendPostPaidSIM">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="suspendPostPaidSIMResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topKad">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topKadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topupVoucher">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topupVoucherResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateLocation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateLocationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateMaster">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateMasterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateVoucher">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateVoucherResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="UnBarVoiceCallRequest">
    <wsdl:part name="parameters" element="ns:UnBarVoiceCall" />
  </wsdl:message>
  <wsdl:message name="UnBarVoiceCallResponse">
    <wsdl:part name="parameters" element="ns:UnBarVoiceCallResponse" />
  </wsdl:message>
  <wsdl:message name="queryRechargeStatusRequest">
    <wsdl:part name="parameters" element="ns:queryRechargeStatus" />
  </wsdl:message>
  <wsdl:message name="queryRechargeStatusResponse">
    <wsdl:part name="parameters" element="ns:queryRechargeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="topupVoucherRequest">
    <wsdl:part name="parameters" element="ns:topupVoucher" />
  </wsdl:message>
  <wsdl:message name="topupVoucherResponse">
    <wsdl:part name="parameters" element="ns:topupVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="firstTimeActivationRequest">
    <wsdl:part name="parameters" element="ns:firstTimeActivation" />
  </wsdl:message>
  <wsdl:message name="firstTimeActivationResponse">
    <wsdl:part name="parameters" element="ns:firstTimeActivationResponse" />
  </wsdl:message>
  <wsdl:message name="validateVoucherRequest">
    <wsdl:part name="parameters" element="ns:validateVoucher" />
  </wsdl:message>
  <wsdl:message name="validateVoucherResponse">
    <wsdl:part name="parameters" element="ns:validateVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="updateLocationRequest">
    <wsdl:part name="parameters" element="ns:updateLocation" />
  </wsdl:message>
  <wsdl:message name="updateLocationResponse">
    <wsdl:part name="parameters" element="ns:updateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="manGroupMemberQuitRequest">
    <wsdl:part name="parameters" element="ns:manGroupMemberQuit" />
  </wsdl:message>
  <wsdl:message name="manGroupMemberQuitResponse">
    <wsdl:part name="parameters" element="ns:manGroupMemberQuitResponse" />
  </wsdl:message>
  <wsdl:message name="customerUpdateRequest">
    <wsdl:part name="parameters" element="ns:customerUpdate" />
  </wsdl:message>
  <wsdl:message name="customerUpdateResponse">
    <wsdl:part name="parameters" element="ns:customerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="oneOffDeductionRequest">
    <wsdl:part name="parameters" element="ns:oneOffDeduction" />
  </wsdl:message>
  <wsdl:message name="oneOffDeductionResponse">
    <wsdl:part name="parameters" element="ns:oneOffDeductionResponse" />
  </wsdl:message>
  <wsdl:message name="getAppTXStatusRequest">
    <wsdl:part name="parameters" element="ns:getAppTXStatus" />
  </wsdl:message>
  <wsdl:message name="getAppTXStatusResponse">
    <wsdl:part name="parameters" element="ns:getAppTXStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getSimStatusRequest">
    <wsdl:part name="parameters" element="ns:getSimStatus" />
  </wsdl:message>
  <wsdl:message name="getSimStatusResponse">
    <wsdl:part name="parameters" element="ns:getSimStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceRequest">
    <wsdl:part name="parameters" element="ns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceResponse">
    <wsdl:part name="parameters" element="ns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateMerchantRequest">
    <wsdl:part name="parameters" element="ns:ValidateMerchant" />
  </wsdl:message>
  <wsdl:message name="ValidateMerchantResponse">
    <wsdl:part name="parameters" element="ns:ValidateMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="suspendPostPaidSIMRequest">
    <wsdl:part name="parameters" element="ns:suspendPostPaidSIM" />
  </wsdl:message>
  <wsdl:message name="suspendPostPaidSIMResponse">
    <wsdl:part name="parameters" element="ns:suspendPostPaidSIMResponse" />
  </wsdl:message>
  <wsdl:message name="creditMeRequest">
    <wsdl:part name="parameters" element="ns:creditMe" />
  </wsdl:message>
  <wsdl:message name="creditMeResponse">
    <wsdl:part name="parameters" element="ns:creditMeResponse" />
  </wsdl:message>
  <wsdl:message name="validateMasterRequest">
    <wsdl:part name="parameters" element="ns:validateMaster" />
  </wsdl:message>
  <wsdl:message name="validateMasterResponse">
    <wsdl:part name="parameters" element="ns:validateMasterResponse" />
  </wsdl:message>
  <wsdl:message name="GetMsisdnStatusRequest">
    <wsdl:part name="parameters" element="ns:GetMsisdnStatus" />
  </wsdl:message>
  <wsdl:message name="GetMsisdnStatusResponse">
    <wsdl:part name="parameters" element="ns:GetMsisdnStatusResponse" />
  </wsdl:message>
  <wsdl:message name="manGroupMemberAddRequest">
    <wsdl:part name="parameters" element="ns:manGroupMemberAdd" />
  </wsdl:message>
  <wsdl:message name="manGroupMemberAddResponse">
    <wsdl:part name="parameters" element="ns:manGroupMemberAddResponse" />
  </wsdl:message>
  <wsdl:message name="RechargeMsisdnRequest">
    <wsdl:part name="parameters" element="ns:RechargeMsisdn" />
  </wsdl:message>
  <wsdl:message name="RechargeMsisdnResponse">
    <wsdl:part name="parameters" element="ns:RechargeMsisdnResponse" />
  </wsdl:message>
  <wsdl:message name="activatePostPaidSIMRequest">
    <wsdl:part name="parameters" element="ns:activatePostPaidSIM" />
  </wsdl:message>
  <wsdl:message name="activatePostPaidSIMResponse">
    <wsdl:part name="parameters" element="ns:activatePostPaidSIMResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPostpaidSimsRequest">
    <wsdl:part name="parameters" element="ns:getAllPostpaidSims" />
  </wsdl:message>
  <wsdl:message name="getAllPostpaidSimsResponse">
    <wsdl:part name="parameters" element="ns:getAllPostpaidSimsResponse" />
  </wsdl:message>
  <wsdl:message name="getVoucherRequest">
    <wsdl:part name="parameters" element="ns:getVoucher" />
  </wsdl:message>
  <wsdl:message name="getVoucherResponse">
    <wsdl:part name="parameters" element="ns:getVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="topKadRequest">
    <wsdl:part name="parameters" element="ns:topKad" />
  </wsdl:message>
  <wsdl:message name="topKadResponse">
    <wsdl:part name="parameters" element="ns:topKadResponse" />
  </wsdl:message>
  <wsdl:message name="sendSMSRequest">
    <wsdl:part name="parameters" element="ns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSResponse">
    <wsdl:part name="parameters" element="ns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="processDUGMemberRequest">
    <wsdl:part name="parameters" element="ns:processDUGMember" />
  </wsdl:message>
  <wsdl:message name="processDUGMemberResponse">
    <wsdl:part name="parameters" element="ns:processDUGMemberResponse" />
  </wsdl:message>
  <wsdl:message name="BarVoiceCallRequest">
    <wsdl:part name="parameters" element="ns:BarVoiceCall" />
  </wsdl:message>
  <wsdl:message name="BarVoiceCallResponse">
    <wsdl:part name="parameters" element="ns:BarVoiceCallResponse" />
  </wsdl:message>
  <wsdl:portType name="EasyRechargePortType">
    <wsdl:operation name="UnBarVoiceCall">
      <wsdl:input wsaw:Action="urn:UnBarVoiceCall" message="ns:UnBarVoiceCallRequest" />
      <wsdl:output wsaw:Action="urn:UnBarVoiceCallResponse" message="ns:UnBarVoiceCallResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryRechargeStatus">
      <wsdl:input wsaw:Action="urn:queryRechargeStatus" message="ns:queryRechargeStatusRequest" />
      <wsdl:output wsaw:Action="urn:queryRechargeStatusResponse" message="ns:queryRechargeStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="topupVoucher">
      <wsdl:input wsaw:Action="urn:topupVoucher" message="ns:topupVoucherRequest" />
      <wsdl:output wsaw:Action="urn:topupVoucherResponse" message="ns:topupVoucherResponse" />
    </wsdl:operation>
    <wsdl:operation name="firstTimeActivation">
      <wsdl:input wsaw:Action="urn:firstTimeActivation" message="ns:firstTimeActivationRequest" />
      <wsdl:output wsaw:Action="urn:firstTimeActivationResponse" message="ns:firstTimeActivationResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateVoucher">
      <wsdl:input wsaw:Action="urn:validateVoucher" message="ns:validateVoucherRequest" />
      <wsdl:output wsaw:Action="urn:validateVoucherResponse" message="ns:validateVoucherResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <wsdl:input wsaw:Action="urn:updateLocation" message="ns:updateLocationRequest" />
      <wsdl:output wsaw:Action="urn:updateLocationResponse" message="ns:updateLocationResponse" />
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberQuit">
      <wsdl:input wsaw:Action="urn:manGroupMemberQuit" message="ns:manGroupMemberQuitRequest" />
      <wsdl:output wsaw:Action="urn:manGroupMemberQuitResponse" message="ns:manGroupMemberQuitResponse" />
    </wsdl:operation>
    <wsdl:operation name="customerUpdate">
      <wsdl:input wsaw:Action="urn:customerUpdate" message="ns:customerUpdateRequest" />
      <wsdl:output wsaw:Action="urn:customerUpdateResponse" message="ns:customerUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="oneOffDeduction">
      <wsdl:input wsaw:Action="urn:oneOffDeduction" message="ns:oneOffDeductionRequest" />
      <wsdl:output wsaw:Action="urn:oneOffDeductionResponse" message="ns:oneOffDeductionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAppTXStatus">
      <wsdl:input wsaw:Action="urn:getAppTXStatus" message="ns:getAppTXStatusRequest" />
      <wsdl:output wsaw:Action="urn:getAppTXStatusResponse" message="ns:getAppTXStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSimStatus">
      <wsdl:input wsaw:Action="urn:getSimStatus" message="ns:getSimStatusRequest" />
      <wsdl:output wsaw:Action="urn:getSimStatusResponse" message="ns:getSimStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input wsaw:Action="urn:getBalance" message="ns:getBalanceRequest" />
      <wsdl:output wsaw:Action="urn:getBalanceResponse" message="ns:getBalanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMerchant">
      <wsdl:input wsaw:Action="urn:ValidateMerchant" message="ns:ValidateMerchantRequest" />
      <wsdl:output wsaw:Action="urn:ValidateMerchantResponse" message="ns:ValidateMerchantResponse" />
    </wsdl:operation>
    <wsdl:operation name="suspendPostPaidSIM">
      <wsdl:input wsaw:Action="urn:suspendPostPaidSIM" message="ns:suspendPostPaidSIMRequest" />
      <wsdl:output wsaw:Action="urn:suspendPostPaidSIMResponse" message="ns:suspendPostPaidSIMResponse" />
    </wsdl:operation>
    <wsdl:operation name="creditMe">
      <wsdl:input wsaw:Action="urn:creditMe" message="ns:creditMeRequest" />
      <wsdl:output wsaw:Action="urn:creditMeResponse" message="ns:creditMeResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateMaster">
      <wsdl:input wsaw:Action="urn:validateMaster" message="ns:validateMasterRequest" />
      <wsdl:output wsaw:Action="urn:validateMasterResponse" message="ns:validateMasterResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetMsisdnStatus">
      <wsdl:input wsaw:Action="urn:GetMsisdnStatus" message="ns:GetMsisdnStatusRequest" />
      <wsdl:output wsaw:Action="urn:GetMsisdnStatusResponse" message="ns:GetMsisdnStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberAdd">
      <wsdl:input wsaw:Action="urn:manGroupMemberAdd" message="ns:manGroupMemberAddRequest" />
      <wsdl:output wsaw:Action="urn:manGroupMemberAddResponse" message="ns:manGroupMemberAddResponse" />
    </wsdl:operation>
    <wsdl:operation name="RechargeMsisdn">
      <wsdl:input wsaw:Action="urn:RechargeMsisdn" message="ns:RechargeMsisdnRequest" />
      <wsdl:output wsaw:Action="urn:RechargeMsisdnResponse" message="ns:RechargeMsisdnResponse" />
    </wsdl:operation>
    <wsdl:operation name="activatePostPaidSIM">
      <wsdl:input wsaw:Action="urn:activatePostPaidSIM" message="ns:activatePostPaidSIMRequest" />
      <wsdl:output wsaw:Action="urn:activatePostPaidSIMResponse" message="ns:activatePostPaidSIMResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllPostpaidSims">
      <wsdl:input wsaw:Action="urn:getAllPostpaidSims" message="ns:getAllPostpaidSimsRequest" />
      <wsdl:output wsaw:Action="urn:getAllPostpaidSimsResponse" message="ns:getAllPostpaidSimsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVoucher">
      <wsdl:input wsaw:Action="urn:getVoucher" message="ns:getVoucherRequest" />
      <wsdl:output wsaw:Action="urn:getVoucherResponse" message="ns:getVoucherResponse" />
    </wsdl:operation>
    <wsdl:operation name="topKad">
      <wsdl:input wsaw:Action="urn:topKad" message="ns:topKadRequest" />
      <wsdl:output wsaw:Action="urn:topKadResponse" message="ns:topKadResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input wsaw:Action="urn:sendSMS" message="ns:sendSMSRequest" />
      <wsdl:output wsaw:Action="urn:sendSMSResponse" message="ns:sendSMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="processDUGMember">
      <wsdl:input wsaw:Action="urn:processDUGMember" message="ns:processDUGMemberRequest" />
      <wsdl:output wsaw:Action="urn:processDUGMemberResponse" message="ns:processDUGMemberResponse" />
    </wsdl:operation>
    <wsdl:operation name="BarVoiceCall">
      <wsdl:input wsaw:Action="urn:BarVoiceCall" message="ns:BarVoiceCallRequest" />
      <wsdl:output wsaw:Action="urn:BarVoiceCallResponse" message="ns:BarVoiceCallResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EasyRechargeSoap11Binding" type="ns:EasyRechargePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnBarVoiceCall">
      <soap:operation soapAction="urn:UnBarVoiceCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupVoucher">
      <soap:operation soapAction="urn:topupVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryRechargeStatus">
      <soap:operation soapAction="urn:queryRechargeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateVoucher">
      <soap:operation soapAction="urn:validateVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="firstTimeActivation">
      <soap:operation soapAction="urn:firstTimeActivation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <soap:operation soapAction="urn:updateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberQuit">
      <soap:operation soapAction="urn:manGroupMemberQuit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerUpdate">
      <soap:operation soapAction="urn:customerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="oneOffDeduction">
      <soap:operation soapAction="urn:oneOffDeduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppTXStatus">
      <soap:operation soapAction="urn:getAppTXStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimStatus">
      <soap:operation soapAction="urn:getSimStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="urn:getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMerchant">
      <soap:operation soapAction="urn:ValidateMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suspendPostPaidSIM">
      <soap:operation soapAction="urn:suspendPostPaidSIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditMe">
      <soap:operation soapAction="urn:creditMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMaster">
      <soap:operation soapAction="urn:validateMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsisdnStatus">
      <soap:operation soapAction="urn:GetMsisdnStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechargeMsisdn">
      <soap:operation soapAction="urn:RechargeMsisdn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberAdd">
      <soap:operation soapAction="urn:manGroupMemberAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activatePostPaidSIM">
      <soap:operation soapAction="urn:activatePostPaidSIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPostpaidSims">
      <soap:operation soapAction="urn:getAllPostpaidSims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVoucher">
      <soap:operation soapAction="urn:getVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="urn:sendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topKad">
      <soap:operation soapAction="urn:topKad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarVoiceCall">
      <soap:operation soapAction="urn:BarVoiceCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDUGMember">
      <soap:operation soapAction="urn:processDUGMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EasyRechargeSoap12Binding" type="ns:EasyRechargePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnBarVoiceCall">
      <soap12:operation soapAction="urn:UnBarVoiceCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupVoucher">
      <soap12:operation soapAction="urn:topupVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryRechargeStatus">
      <soap12:operation soapAction="urn:queryRechargeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateVoucher">
      <soap12:operation soapAction="urn:validateVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="firstTimeActivation">
      <soap12:operation soapAction="urn:firstTimeActivation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <soap12:operation soapAction="urn:updateLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberQuit">
      <soap12:operation soapAction="urn:manGroupMemberQuit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerUpdate">
      <soap12:operation soapAction="urn:customerUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="oneOffDeduction">
      <soap12:operation soapAction="urn:oneOffDeduction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppTXStatus">
      <soap12:operation soapAction="urn:getAppTXStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimStatus">
      <soap12:operation soapAction="urn:getSimStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="urn:getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMerchant">
      <soap12:operation soapAction="urn:ValidateMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suspendPostPaidSIM">
      <soap12:operation soapAction="urn:suspendPostPaidSIM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditMe">
      <soap12:operation soapAction="urn:creditMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMaster">
      <soap12:operation soapAction="urn:validateMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsisdnStatus">
      <soap12:operation soapAction="urn:GetMsisdnStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechargeMsisdn">
      <soap12:operation soapAction="urn:RechargeMsisdn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberAdd">
      <soap12:operation soapAction="urn:manGroupMemberAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activatePostPaidSIM">
      <soap12:operation soapAction="urn:activatePostPaidSIM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPostpaidSims">
      <soap12:operation soapAction="urn:getAllPostpaidSims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVoucher">
      <soap12:operation soapAction="urn:getVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <soap12:operation soapAction="urn:sendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topKad">
      <soap12:operation soapAction="urn:topKad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarVoiceCall">
      <soap12:operation soapAction="urn:BarVoiceCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDUGMember">
      <soap12:operation soapAction="urn:processDUGMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EasyRechargeHttpBinding" type="ns:EasyRechargePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="UnBarVoiceCall">
      <http:operation location="EasyRecharge/UnBarVoiceCall" />
      <wsdl:input>
        <mime:content part="UnBarVoiceCall" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="UnBarVoiceCall" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topupVoucher">
      <http:operation location="EasyRecharge/topupVoucher" />
      <wsdl:input>
        <mime:content part="topupVoucher" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="topupVoucher" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryRechargeStatus">
      <http:operation location="EasyRecharge/queryRechargeStatus" />
      <wsdl:input>
        <mime:content part="queryRechargeStatus" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryRechargeStatus" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateVoucher">
      <http:operation location="EasyRecharge/validateVoucher" />
      <wsdl:input>
        <mime:content part="validateVoucher" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="validateVoucher" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="firstTimeActivation">
      <http:operation location="EasyRecharge/firstTimeActivation" />
      <wsdl:input>
        <mime:content part="firstTimeActivation" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="firstTimeActivation" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocation">
      <http:operation location="EasyRecharge/updateLocation" />
      <wsdl:input>
        <mime:content part="updateLocation" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="updateLocation" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberQuit">
      <http:operation location="EasyRecharge/manGroupMemberQuit" />
      <wsdl:input>
        <mime:content part="manGroupMemberQuit" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="manGroupMemberQuit" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerUpdate">
      <http:operation location="EasyRecharge/customerUpdate" />
      <wsdl:input>
        <mime:content part="customerUpdate" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="customerUpdate" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="oneOffDeduction">
      <http:operation location="EasyRecharge/oneOffDeduction" />
      <wsdl:input>
        <mime:content part="oneOffDeduction" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="oneOffDeduction" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppTXStatus">
      <http:operation location="EasyRecharge/getAppTXStatus" />
      <wsdl:input>
        <mime:content part="getAppTXStatus" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getAppTXStatus" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSimStatus">
      <http:operation location="EasyRecharge/getSimStatus" />
      <wsdl:input>
        <mime:content part="getSimStatus" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getSimStatus" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="EasyRecharge/getBalance" />
      <wsdl:input>
        <mime:content part="getBalance" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getBalance" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMerchant">
      <http:operation location="EasyRecharge/ValidateMerchant" />
      <wsdl:input>
        <mime:content part="ValidateMerchant" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="ValidateMerchant" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suspendPostPaidSIM">
      <http:operation location="EasyRecharge/suspendPostPaidSIM" />
      <wsdl:input>
        <mime:content part="suspendPostPaidSIM" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="suspendPostPaidSIM" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creditMe">
      <http:operation location="EasyRecharge/creditMe" />
      <wsdl:input>
        <mime:content part="creditMe" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="creditMe" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateMaster">
      <http:operation location="EasyRecharge/validateMaster" />
      <wsdl:input>
        <mime:content part="validateMaster" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="validateMaster" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMsisdnStatus">
      <http:operation location="EasyRecharge/GetMsisdnStatus" />
      <wsdl:input>
        <mime:content part="GetMsisdnStatus" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="GetMsisdnStatus" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechargeMsisdn">
      <http:operation location="EasyRecharge/RechargeMsisdn" />
      <wsdl:input>
        <mime:content part="RechargeMsisdn" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="RechargeMsisdn" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="manGroupMemberAdd">
      <http:operation location="EasyRecharge/manGroupMemberAdd" />
      <wsdl:input>
        <mime:content part="manGroupMemberAdd" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="manGroupMemberAdd" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activatePostPaidSIM">
      <http:operation location="EasyRecharge/activatePostPaidSIM" />
      <wsdl:input>
        <mime:content part="activatePostPaidSIM" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="activatePostPaidSIM" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPostpaidSims">
      <http:operation location="EasyRecharge/getAllPostpaidSims" />
      <wsdl:input>
        <mime:content part="getAllPostpaidSims" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getAllPostpaidSims" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVoucher">
      <http:operation location="EasyRecharge/getVoucher" />
      <wsdl:input>
        <mime:content part="getVoucher" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVoucher" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <http:operation location="EasyRecharge/sendSMS" />
      <wsdl:input>
        <mime:content part="sendSMS" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendSMS" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topKad">
      <http:operation location="EasyRecharge/topKad" />
      <wsdl:input>
        <mime:content part="topKad" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="topKad" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarVoiceCall">
      <http:operation location="EasyRecharge/BarVoiceCall" />
      <wsdl:input>
        <mime:content part="BarVoiceCall" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="BarVoiceCall" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDUGMember">
      <http:operation location="EasyRecharge/processDUGMember" />
      <wsdl:input>
        <mime:content part="processDUGMember" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="processDUGMember" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EasyRecharge">
    <wsdl:port name="EasyRechargeHttpSoap11Endpoint" binding="ns:EasyRechargeSoap11Binding">
      <soap:address location="http://172.16.23.175:8800/CommonOcs55/services/EasyRecharge.EasyRechargeHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EasyRechargeHttpSoap12Endpoint" binding="ns:EasyRechargeSoap12Binding">
      <soap12:address location="http://172.16.23.175:8800/CommonOcs55/services/EasyRecharge.EasyRechargeHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="EasyRechargeHttpEndpoint" binding="ns:EasyRechargeHttpBinding">
      <http:address location="http://172.16.23.175:8800/CommonOcs55/services/EasyRecharge.EasyRechargeHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>