si_bmobile/Service References/dokuRef/dokuService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.16:107/Service/dokuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/doku_payment.Models" />
  <xs:element name="save_selfcare_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/doku_payment.Models" minOccurs="0" name="obj_sc_order" nillable="true" type="q1:PaymentEntModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_selfcare_orderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_selfcare_orderResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_doku_order_payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/doku_payment.Models" minOccurs="0" name="obj_order_pay" nillable="true" type="q2:PaymentEntModel" />
        <xs:element minOccurs="0" name="order_id" type="xs:long" />
        <xs:element minOccurs="0" name="site_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_doku_order_paymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_doku_order_paymentResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doku_order_transactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doku_order_transactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_doku_order_transactionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doku_order_byid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doku_order_byidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_doku_order_byidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_temp_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jstemp_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_temp_orderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_temp_orderResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_temp_order_byid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_temp_order_byidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_temp_order_byidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>